@using PetShopPatte_Core.Entities.Cart
@model Basket

<h1>Your Basket</h1>

@if (Model == null || !Model.BasketItems.Any())
{
    <p>Your basket is empty.</p>
}
else
{
    <!-- cart-popup -->
    <div id="lightbox" class="lightbox clearfix">
        <div class="white_content">
            <a href="javascript:;" class="textright" id="close"><i class="fa-regular fa-circle-xmark"></i></a>
            @foreach (var item in Model.BasketItems)
            {
                <div class="cart-popup">
                    <ul>

                        <li class="d-flex align-items-center position-relative">

                            <div class="p-img light-bg">

                                <img src="~/assets/img/food-1.png" alt="Product Image">

                            </div>

                            <div class="p-data">

                                <h3 class="font-semi-bold">@item.Product.Name</h3>

                                <p class="theme-clr font-semi-bold">@item.Quantity x $@item.Product.Price.ToString("C")</p>

                            </div>

                            <a href="JavaScript:void(0)" id="crosss"></a>

                        </li>

                        <li class="d-flex align-items-center position-relative">

                            <div class="p-img light-bg">

                                <img src="~/assets/img/food-2.png" alt="Product Image">

                            </div>

                            <div class="p-data">

                                <h3 class="font-semi-bold">Banana Leaves</h3>

                                <p class="theme-clr font-semi-bold">@item.Quantity x $@item.Product.Price.ToString("C")</p>

                            </div>

                            <a href="JavaScript:void(0)" id="cross"></a>

                        </li>

                    </ul>

                    <div class="cart-total d-flex align-items-center justify-content-between">

                        <span class="font-semi-bold">Total:</span>

                        <span class="font-semi-bold">$@(item.Quantity * item.Product.Price).ToString("C")</span>

                    </div>

                    <div class="cart-btns d-flex align-items-center justify-content-between">

                        <a class="font-bold" asp-action="Index" asp-controller="ShopCart">View Cart</a>

                        <a class="font-bold theme-bg-clr text-white checkout" asp-action="Index" asp-controller="CartCheckout">Checkout</a>

                    </div>
                </div>
            }
        </div>
    </div>
    <!-- cart-popup end -->
}

<div>
    <a asp-controller="Home" asp-action="Index">Continue Shopping</a>
</div>
