@using PetShopPatte_Business.DTOs.PetDTO
@model PetUpdateDTO

<!-- main-content -->
<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Update Pet</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a asp-action="Index" asp-controller="Dashboard"><div class="text-tiny">Dashboard</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#"><div class="text-tiny">Pet</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Update pet</div>
                    </li>
                </ul>
            </div>
            <!-- form-add-product -->
            <form method="post" enctype="multipart/form-data" class="tf-section-2 form-add-product">
                <div class="wg-box">
                    <fieldset class="name">
                        <div class="body-title mb-10">Pet name<span class="tf-color-1">*</span></div>
                        <input asp-for="Name" class="mb-10" placeholder="Enter pet name" tabindex="0" value="" aria-required="true" required="">
                        <span asp-validation-for="Name" style="color:red"></span>
                    </fieldset>
                    <div class="gap22 cols">
                        <fieldset class="category">
                            <div class="body-title mb-10">Animal Type<span class="tf-color-1">*</span></div>
                            <select asp-for="TypeId" asp-items="ViewBag.AnimalTypes" class="mb-10" required></select>
                            <span asp-validation-for="TypeId" style="color:red"></span>
                        </fieldset>
                        <fieldset class="brand">
                            <div class="body-title mb-10">Breed<span class="tf-color-1">*</span></div>
                            <input asp-for="Breed" class="mb-10" placeholder="Enter pet breed" tabindex="0" value="" aria-required="true" required="">
                            <span asp-validation-for="Breed" style="color:red"></span>
                        </fieldset>
                        <fieldset class="male">
                            <div class="body-title mb-10">Gender<span class="tf-color-1">*</span></div>
                            <input asp-for="Gender" class="mb-10" placeholder="Enter pet gender" tabindex="0" value="" aria-required="true" required="">
                            <span asp-validation-for="Gender" style="color:red"></span>
                        </fieldset>
                    </div>
                    <fieldset class="category">
                        <div class="body-title mb-10">Color<span class="tf-color-1">*</span></div>
                        <select asp-for="ColorId" asp-items="ViewBag.Colors" class="mb-10" required></select>
                        <span asp-validation-for="ColorId" style="color:red"></span>
                    </fieldset>
                    <fieldset class="category">
                        <div class="body-title mb-10">Age<span class="tf-color-1">*</span></div>
                        <input asp-for="Age" class="mb-10" placeholder="Enter pet age" tabindex="0" value="" aria-required="true" required="">
                        <span asp-validation-for="Age" style="color:red"></span>
                    </fieldset>
                    <fieldset class="category">
                        <div class="body-title mb-10">Price<span class="tf-color-1">*</span></div>
                        <input asp-for="Price" type="number" step="0.01" class="mb-10" placeholder="Enter pet price" aria-required="true" required>
                        <span asp-validation-for="Price" style="color:red"></span>
                    </fieldset>
                </div>
                <div class="wg-box">
                    @* <fieldset>
                    <div class="body-title mb-10">Upload Image</div>
                    <input asp-for="ImgFile" class="mb-10" type="file" accept="image/*" required>
                    <span asp-validation-for="ImgFile" class="text-danger"></span>
                    </fieldset> *@
                    <fieldset>
                        <div class="body-title mb-10">Upload images</div>
                        <div class="item up-load">
                            <label class="uploadfile" for="myFile">
                                <span class="icon">
                                    <i class="icon-upload-cloud"></i>
                                </span>
                                <input asp-for="ImgFile" class="mb-10" type="file" accept="image/*" required>
                                <span asp-validation-for="ImgFile" class="text-danger"></span>
                            </label>
                        </div>
                </div>
                <div class="cols gap22">
                    <div class="cols gap10">
                        <button class="tf-button w-full" type="submit">Update pet</button>
                    </div>
                </div>
            </form>
            <!-- /form-add-product -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
