@using PetShopPatte_Business.DTOs.SubcategoryDTO
@model SubcategoryUpdateDTO

<!-- main-content -->
<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Subcategory infomation</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a asp-action="Index" asp-controller="Dashboard"><div class="text-tiny">Dashboard</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#"><div class="text-tiny">Subcategory</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Update subcategory</div>
                    </li>
                </ul>
            </div>
            <!-- new-category -->
            <div class="wg-box">
                <form method="post" class="form-new-product form-style-1">
                    <fieldset class="name">
                        <div class="body-title">Subcategory name <span class="tf-color-1">*</span></div>
                        <input asp-for="SubcategoryName" class="form-control" class="flex-grow" placeholder="Subcategory name" tabindex="0" aria-required="true" required="">
                        <span asp-validation-for="SubcategoryName" style="color:red"></span>
                    </fieldset>
                    <fieldset class="category">
                        <div class="body-title mb-10">Category<span class="tf-color-1">*</span></div>
                        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="mb-10" required></select>
                        <span asp-validation-for="CategoryId" style="color:red"></span>
                    </fieldset>
                    <div class="bot">
                        <div></div>
                        <button class="tf-button w208" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <!-- /new-category -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
